/* root
-------------------- */

:root {
  --gray: #a9a9a9;
  --gray2: #828282;
  --white: #fff;
  --bg-color: #181719;

  /* stylelint-disable value-keyword-case */
  --font-base: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --font-crimson-pro: Crimson Pro, sans-serif;
  --font-lora: Lora, sans-serif;
  --font-monserrat: Montserrat, sans-serif;
  /* stylelint-enable value-keyword-case */
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-base);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* layout */

html {
  height: 100%;
}

body {
  height: 100%;
}

div.contents {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: var(--bg-color);
}

header.hero-header {
  flex: 1 0 auto;
}

/* common
-------------------- */

a:not(.nav-list__link-active) {
  position: relative;
  display: inline-block;
}

a:not(.nav-list__link-active)::after {
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 100%;
  height: 1px;
  content: '';
  background: var(--white);
  transition: transform 0.3s;
  transform: scale(0, 1);
  transform-origin: right top;
}

a:not(.nav-list__item-active):hover::after {
  transform: scale(1, 2);
  transform-origin: left top;
}

.container {
  max-width: 1280px;
  padding: 0 4%;
  margin: 0 auto;
}

.nav-list {
  list-style: none;
  padding-inline-start: 0;
}

.nav-list li {
  font-family: var(--font-monserrat);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  color: var(--white);
}

.nav-list a.nav-list__link--active {
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 8px;
}

.menu-btn {
  display: inline-flex;
  color: var(--white);
  background-color: var(--bg-color);
  border: none;
}

/* header
-------------------- */

/* top header */

.top-header__layout {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-header__site-title {
  padding: 8px;
  font-family: var(--font-crimson-pro);
  font-size: 14px;
  font-style: normal;
  font-weight: 200;
  line-height: 16px;
  color: var(--white);
  text-transform: uppercase;
  border: 1px solid var(--white);
}

.header-nav-list {
  display: flex;
}

.header-nav-list > li {
  padding: 16px 24px;
  margin-right: 8px;
}

.header-nav-list > li:last-child {
  margin-right: 0;
}

.open-menu-btn {
  display: none;
}

/* hero header */

.hero-header {
  margin-top: 144px;
}

.hero-haader__layout {
  display: flex;
  align-items: center;
}

.hero-header__title {
  margin-top: -30%;
  font-family: var(--font-lora);
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 61px;
  color: var(--white);
}

.hero-header__content {
  margin-top: 40px;
  font-family: var(--font-monserrat);
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  line-height: 29px;
  color: var(--white);
}

.hero-header__read-more {
  display: inline-block;
  padding: 4px 0;
  margin-top: 32px;
  font-family: var(--font-monserrat);
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  line-height: 22px;
  color: var(--white);
}

.hero-header__img {
  max-width: 100%;
}

.designer-card {
  position: relative;
  bottom: 72px;
  max-width: 55%;
  padding: 16px 64px 16px 16px;
  margin: 0 4% 0 auto;
  background-color: var(--bg-color);
}

.designer-card__header {
  display: flex;
  column-gap: 16px;
  align-items: center;
}

.designer-card__img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  object-fit: cover;
}

.designer-card__name {
  font-family: var(--font-monserrat);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  color: var(--white);
}

.designer-card__description {
  font-family: var(--font-monserrat);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 15px;
  color: var(--gray2);
}

.designer-card__content {
  margin-top: 24px;
  font-family: var(--font-lora);
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
  line-height: 31px;
  color: var(--white);
}

/* footer
-------------------- */

.footer {
  padding: 24px 0;
  text-align: center;
}

.footer__signature {
  font-family: var(--font-montserrat);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  color: var(--gray);
}

/* menu
------------------ */

.menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1200;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  visibility: hidden;
  background-color: var(--bg-color);
  opacity: 0%;
  transition: opacity 0.3s, visibility 0.3s ease 0.3s, transform 0.3s;
  transform: translateX(100%);
}

.menu-header {
  margin-top: 20px;
  text-align: right;
}

.menu-nav {
  margin: 25vh auto;
}

.menu-nav-list {
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* stylelint-disable-next-line no-descending-specificity */
.menu-nav-list > li {
  margin-bottom: 32px;
}

.menu-nav-list > li:last-child {
  margin-bottom: 0;
}

.menu--open {
  visibility: visible;
  opacity: 100%;
  transition-delay: 0s;
  transform: translateX(0);
}

/* desktop only style
------------------- */

@media (min-width: 601px) {
  /* hero header */

  .hero-header__text-block {
    flex: 1;
    margin-right: 10%;
  }

  .hero-header__img-block {
    flex: 1.8;
  }
}

/* tablet style
-------------------- */

@media (max-width: 959px) {
  /* top header */

  .top-header {
    margin-top: 16px;
  }

  .header-nav {
    display: none;
  }

  .open-menu-btn {
    display: inline-flex;
  }

  /* hero header */

  .hero-header {
    margin-top: 40px;
  }

  .hero-haader__layout {
    display: flex;
    flex-direction: column;
  }

  .hero-header__text-block {
    margin-bottom: 24px;
  }

  .hero-header__title {
    margin-top: 0;
    font-size: 36px;
    line-height: 46px;
  }

  .hero-header__content {
    margin-top: 24px;
    font-size: 14px;
    line-height: 17px;
  }

  .hero-header__read-more {
    margin-top: 24px;
    font-size: 14px;
    line-height: 17px;
  }

  .designer-card {
    bottom: 48px;
    min-width: 292px;
  }

  .designer-card__header {
    column-gap: 12px;
  }

  .designer-card__img {
    width: 40px;
    height: 40px;
  }

  .designer-card__name {
    font-size: 12px;
    line-height: 15px;
  }

  .designer-card__description {
    font-size: 10px;
    line-height: 12px;
  }

  .designer-card__content {
    margin-top: 8px;
    font-size: 18px;
    line-height: 23px;
  }
}
