/* root
-------------------- */

:root {
  --gray: #a9a9a9;
  --gray2: #828282;
  --white: #fff;
  --bg-color: #181719;

  /* stylelint-disable value-keyword-case */
  --font-base: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --font-crimson-pro: Crimson Pro, sans-serif;
  --font-lora: Lora, sans-serif;
  --font-monserrat: Montserrat, sans-serif;
  /* stylelint-enable value-keyword-case */
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-base);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* layout */

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: var(--bg-color);
}

header.hero-header {
  flex: 1 0 auto;
}

/* common
-------------------- */

.container {
  max-width: 1280px;
  padding: 0 4%;
  margin: 0 auto;
}

.nav-list {
  list-style: none;
  -webkit-padding-start: 0;
  padding-inline-start: 0;
}

.nav-list li {
  font-family: var(--font-monserrat);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  color: var(--white);
}

.nav-list li.nav-list__item-active {
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 0.4em;
}

.menu-btn {
  display: inline-flex;
  color: var(--white);
  background-color: var(--bg-color);
  border: none;
}

/* header
-------------------- */

/* top header */

.top-header-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-header__site-title {
  padding: 8px;
  font-family: var(--font-crimson-pro);
  font-size: 14px;
  font-style: normal;
  font-weight: 200;
  line-height: 16px;
  color: var(--white);
  text-transform: uppercase;
  border: 1px solid var(--white);
}

.header-nav-list {
  display: flex;
  -moz-column-gap: 8px;
  column-gap: 8px;
}

.header-nav-list li {
  padding: 16px 24px;
}

.open-menu-btn {
  display: none;
}

/* hero header */

.hero-header {
  display: flex;
  -moz-column-gap: 96px;
  column-gap: 96px;
  margin-top: 144px;
}

.hero-header__title {
  margin-top: 144px;
  font-family: var(--font-lora);
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 61px;
  color: var(--white);
}

.hero-header__content {
  margin-top: 40px;
  font-family: var(--font-monserrat);
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  line-height: 29px;
  color: var(--white);
}

.hero-header__read-more {
  display: inline-block;
  padding: 8px 0;
  margin-top: 32px;
  font-family: var(--font-monserrat);
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  line-height: 22px;
  color: var(--white);
}

.hero-header__img {
  max-width: 100%;
}

.designer-card {
  position: relative;
  bottom: 72px;
  left: 35%;
  width: 410px;
  padding: 16px;
  background-color: var(--bg-color);
}

.designer-card__header {
  display: flex;
  -moz-column-gap: 16px;
  column-gap: 16px;
  align-items: center;
}

.designer-card__img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
}

.designer-card__name {
  font-family: var(--font-monserrat);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  color: var(--white);
}

.designer-card__description {
  font-family: var(--font-monserrat);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 15px;
  color: var(--gray2);
}

.designer-card__content {
  margin-top: 24px;
  font-family: var(--font-lora);
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
  line-height: 31px;
  color: var(--white);
}

/* footer
-------------------- */

.footer {
  padding: 24px 0;
  text-align: center;
}

.footer__signature {
  font-family: var(--font-montserrat);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  color: var(--gray);
}

/* menu
------------------ */

.menu {
  position: fixed;
  inset: 0;
  z-index: 1200;
  display: none;
  background-color: var(--bg-color);
}

.menu-header {
  margin-top: 16px;
  text-align: right;
}

.menu-nav {
  flex: 1;
  margin-top: 50%;
}

.menu-nav-list {
  display: flex;
  flex-direction: column;
  -moz-row-gap: 32px;
  row-gap: 32px;
  text-align: center;
}

.menu__open {
  display: flex;
  flex-direction: column;
}

/* desktop only style
------------------- */

@media (min-width: 601px) {
  /* hero header */

  .hero-header__text-block {
    flex: 1;
  }

  .hero-header__img-block {
    flex: 1.8;
  }
}

/* mobile style
-------------------- */

@media (max-width: 600px) {
  /* top header */

  .top-header {
    margin-top: 16px;
  }

  .header-nav {
    display: none;
  }

  .open-menu-btn {
    display: inline-flex;
  }

  /* hero header */

  .hero-header {
    display: flex;
    flex-direction: column;
    -moz-row-gap: 24px;
    row-gap: 24px;
    -moz-column-gap: 0;
    column-gap: 0;
    margin-top: 40px;
  }

  .hero-header__title {
    margin-top: 0;
    font-size: 36px;
    line-height: 46px;
  }

  .hero-header__content {
    margin-top: 24px;
    font-size: 14px;
    line-height: 17px;
  }

  .hero-header__read-more {
    margin-top: 24px;
    font-size: 14px;
    line-height: 17px;
  }

  .designer-card {
    bottom: 48px;
    left: 10%;
    width: 300px;
  }

  .designer-card__header {
    -moz-column-gap: 12px;
    column-gap: 12px;
  }

  .designer-card__img {
    width: 40px;
    height: 40px;
  }

  .designer-card__name {
    font-size: 12px;
    line-height: 15px;
  }

  .designer-card__description {
    font-size: 10px;
    line-height: 12px;
  }

  .designer-card__content {
    margin-top: 8px;
    font-size: 18px;
    line-height: 23px;
  }
}
